version: 7.0.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - employees

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config['api_key'] }}"
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            max_retries: 5
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 403
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath

streams:
  - type: DeclarativeStream
    name: employees
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/employees
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
    primary_key: employee_id
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/attribute-worksheets
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
    name: attribute-worksheets
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/payouts/payout-dates
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
    name: payouts
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/report-models
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: report-model
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/data-workbooks
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: data-workbooks
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/data-workbooks
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: data-worksheets
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/employee-assumptions
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: employee-assumptions
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/hierarchy-groups
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: hierarchy-groups
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/transformation-worksheets
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: transformation-worksheets
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/uploads
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: uploads
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/users
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: users
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.captivateiq.com/ciq/v1/plans
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 100
          stop_condition: "{{ 'next' not in response }}"
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestPath
    name: commission-plans

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  testedStreams:
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    employees:
      isStale: true
      hasRecords: false
      streamHash: 11f1ce0e9a2595bc905806ce00bd7f08417c0142
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
  autoImportSchema:
    employees: true
    attribute-worksheets: true
    data-workbooks: true
    data-worksheets: true
    employee-assumptions: true
    hierarchy-groups: true
    payouts: true
    report-model: true
    transformation-worksheets: true
    uploads: true
    users: true
    commission-plans: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
